<main>
	<img src='img/logo.png' alt='HelloMeinte logo' />
	<section class='introduction'>
		{{{intro1.html}}}
	</section>
	<div class='top_text'>{{{main_intro.html}}}</div>
	<section class='topic contact'>
		<header>
			<h2>Contact</h2>
		</header>
		<div class='top_text'>{{{contact_intro.html}}}</div>
		<div class='contact_details'>
			<div>
				<p class='contact_detail_header'>Email</p>
				<p class='contact_detail_value'><a href='mailto:meinte@gmail.com'>meinte@gmail.com</a></p>
			</div>
			<div>
				<p class='contact_detail_header'>Phone</p>
				<p class='contact_detail_value'><a href="tel:0061457283421">0061 457283421</a></p>
			</div>
			<div class='last'>
				<p class='contact_detail_header'>Skype</p>
				<p class='contact_detail_value'><a href="skype:meinte.vant.kruis?call">meinte.vant.kruis</a></p>
			</div>
		</div>
	</section>
	<article class='topic timeline'>
		<header>
			<h2>Timeline</h2>
		</header>
		<div class='top_text'>
			{{{timeline_intro.html}}}
		</div>
		{{#each timelines}}
		<section class='timeline_item'>
			<h3>{{{timelineTitleEmphasize this.title}}}</h3>
			<div class='timeline_content'>
				{{{this.html}}}
				<em>Keywords: {{{tagList this.tags ", "}}}</em>
			</div>
		</section>
		{{/each}}
	</article>
	<article class='topic work'>
		<header>
			<h2>Projects</h2>
		</header>
		<div class='top_text'>
			{{{work_intro.html}}}
		</div>
		{{#each clients}}
		<section class='work_item' id='{{this.title}}'>
			<h3>{{{clientTitleEmphasize this.title}}}</h3>
			<div class='teaser'>
				<h4>{{this.custom_excerpt}}</h4>
				<p class='roles'>{{{tagList this.tags " | "}}}</p>
				<button class='read_more' data-ui='read_more'>+</button>
			</div>
			<div class='content' data-ui='more_content'>
				<div class='img_container'>
					<img src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'
						data-src='{{this.feature_image}}' alt='Screenshot of {{this.title}}' />
				</div>
				{{{this.html}}}
				<button class='read_less' data-ui='read_less'>-</button>
			</div>
		</section>
		{{/each}}
		<div class='work_teaser'>
			{{{other_work.html}}}
		</div>
	</article>
	<article class='topic about'>
		<header>
			<h2>About</h2>
		</header>
		<div class='content'>
			{{{about.html}}}
		</div>
		<p class='ending'>Want to know more?</p>
		<p class='ending'>Perhaps I started my <a href='https://blog.hellomeinte.com/' target='_blank'>blog</a>. And you
			can
			always visit my <a href='https://au.linkedin.com/in/meinte' target='_blank'>LinkedIn profile</a>.</p>
	</article>
</main>