<main class='home'>
	<header>
		<img src='/img/logo.svg' alt='HelloMeinte logo' class='main-logo' />
	</header>
	<article>
		<section class='introduction'>
			{{{intro1.html}}}
		</section>
		<div class='main-introduction'>{{{main_intro.html}}}</div>
		<section class='topic contact'>
			<header>
				<h2>Contact</h2>
			</header>
			<div class='section-introduction'>{{{contact_intro.html}}}</div>
			{{>contact-details}}
		</section>
		<section id='timelines' class='topic timeline' data-num-timelines={{timelines.length}}>
			<header>
				<h2>Timeline</h2>
			</header>
			<div class='section-introduction'>
				{{{timeline_intro.html}}}
			</div>
			{{#each timelines}}
			<section class='timeline-item' id='timeline-{{@key}}'>
				<h3>{{{timelineTitleEmphasize this.title}}}</h3>
				<div class='timeline-content'>
					{{{this.html}}}
					<em>This year's keywords: {{{tagList this.tags ", "}}}</em>
				</div>
			</section>
			{{/each}}
			<button class='simple-more-btn' data-ui="show-all-timelines">Show More Years</button>
		</section>
		<section class='topic work'>
			<header>
				<h2>Projects</h2>
			</header>
			<div class='section-introduction'>
				{{{work_intro.html}}}
			</div>
			{{#each clients}}
			<section class='work-item' id='{{this.slug}}'>
				<h3>{{{clientTitleEmphasize this.title}}}</h3>
				<div class='teaser'>
					<h4>{{this.custom_excerpt}}</h4>
					<p class='roles'>{{{tagList this.tags " | "}}}</p>
					<button class='read-more' data-ui='read-more'>+</button>
				</div>
				<div class='content' data-ui='more-content'>
					<div class='img-container'>
						<img src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'
							data-src='{{this.feature_image}}' alt='Screenshot of {{this.title}}' />
					</div>
					<div class='inner-content'>
						{{{this.html}}}
					</div>
					<button class='read-less' data-ui='read-less'>-</button>
				</div>
			</section>
			{{/each}}
			<div class='other-work'>
				{{{other-work.html}}}
			</div>
		</section>
		<section class='topic about'>
			<header>
				<h2>About</h2>
			</header>
			<div class='content'>
				{{{about.html}}}
			</div>
		</section>
	</article>
</main>